
.left-container {
    /* border: 1px solid red; */
    display: block;
    float: left;
    width: 70%;
    /* padding-bottom: 20px; */
}

.day-details {
    margin: 20px 20px;
    width: 96.75%;
    height: 140px;
}

.welcome-msg {
    font-size: 20px;
    padding: 0px 0 20px 0;
    /* border: 1px solid #000000; */
}

.weather {
    /* border: 1px solid #000000; */
    float: left;
    width: 30%;
    margin-top: 0px;
}

.avg-temp {
    font-size: 30px;
    margin-left: 30%;
}

.high-low-temp {
    margin-left: 28%;
}

.weather-cond {
    margin-left: 34%;
}

.none-filter-text {
    color: #c1c1c0;
}

.filter-dropdown, .sort-dropdown {
    margin-left: 15px;
}

.dropdown-container {
    /* border: 1px solid #000000; */
}