
.day-details {
    /* display: flex; */
    /* border: 1px solid red; */
    margin: 20px 20px;
    width: 96.75%;
}

.welcome-msg {
    font-size: 20px;
    padding: 20px 0;
    /* flex-grow: 1; */
    border: 1px solid #000000;
    width: 50%;
    float: left;
}

.weather {
    /* flex-grow: 1; */
    border: 1px solid #000000;
    width: 50%;
    float: left;
}

.avg-temp {
    font-size: 30px;
    margin-left: 30%;
}

.high-low-temp {
    margin-left: 30%;
}

.weather-cond {
    margin-left: 25%;
}

.none-filter-text {
    color: #c1c1c0;
}