
.title {
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.card-container {
    /* background-color: #FDFBF9; */
    background-color: white;
    /* border: 1px solid #323232; */
    border: 1px solid #f0f0f0;
    margin: 10px 10px;
    width: 180px;
    /* height: 115px; */
}

.item-name {
    font-weight: 600;
    padding: 10px;
    min-height: 70px;
}

.details-container {
    display: flex;
    flex-wrap: wrap;
    /* border-top: 1px solid black; */
    /* border-top: 1px solid #f0f0f0; */
}

.category-container {
    /* padding: 10px 10px; */
    border-right: 1px solid #f0f0f0;
    width: 90px;
}

.edit-button, edit-button:hover, edit-button:focus{
    border: none;
    border: 1px solid black;
    /* padding: 7px 30px; */
    /* margin-top: px; */
    width: 86px;
    /* background-color: #FDFBF9; */
    background-color: white;
}

.edit-button:hover {
    cursor: pointer;
    /* background-color: #EA9097; */
    background-color: #e6f7ff;
}

.edit-button-container {
    border: 1px solid red;
}

.card-footer {
    border: 1px solid red;
}

.edit-container {
    border: 1px solid red;
    float: left;
    width: 50%;
    margin-top: 0px;
    /* padding-bottom: 10px; */
}

.heart-container {
    border: 1px solid red;
    float: left;
    width: 50%;
}