

.header {
    display: flex;
    margin: 20px;
    /* border: 1px solid #000000; */
}

.header-text {
    /* float: left; */
    /* width: 70%; */
    /* border: 1px solid #000000; */
    font-size: 20px;
}

.create-button {
    /* float: left; */
    /* width: 30%; */
    position: absolute;
    right: 5%;
    top: 30%;
    /* border: 1px solid #000000; */
}


.tabs {
    margin: 0 20px;
    padding-left: 30px;
    background-color: white;
    /* border: 1px solid #000000; */
    /* height: 77.5%; */
    max-height: 77.5%;
}
