

.tab-button, .tab-button:hover, .tab-button:focus{
    border: none;
    border-top: 1px solid #C6A28B;
    border-left: 1px solid #C6A28B;
    margin: 10px 0 0 0;
    padding: 5px 10px;
    width: 125px;
    background-color: #FDFBF9;
}

.tab-button:hover {
    cursor: pointer;
}

.tab-button-last, .tab-button-last:hover {
    border: none;
    border-top: 1px solid #C6A28B;
    border-left: 1px solid #C6A28B;
    border-right: 1px solid #C6A28B;
    padding: 5px 10px;
    width: 125px;
    background-color: #FDFBF9;
}

.tab-button-last:hover {
    cursor: pointer;
}
